<nb-card >
  <nb-card-body>
      <div class="addbtn">
          <button (click)="addPlanTiers()" class="btn btn-hero-success input-group-text" i18n="@@ajoutCompteG">Ajout Compte Tier</button>
      </div>
  </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-header class="text-center" i18n="@@PlanComptaGeneral"> 
     <h4>
         Plan Comptable  Tiers
     </h4> 
    </nb-card-header> 

  <nb-card-body>
      <ng2-smart-table #smartTable class="full-width" 
      [settings]="settings" 
      [source]="source" 
      (deleteConfirm)="onDeleteConfirm($event)"
      (custom)="onCustom($event)">
      </ng2-smart-table>
  </nb-card-body>
</nb-card>